{% extends "restaurants/base.html" %}

{% load crispy_forms_tags %}

{% block restaurant_content %}
<div class="text-start">
    <h3>Change Password</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group my-3">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group my-2">
            <button class="btn btn-primary" type="submit">Change Password</button>
            <a href="{% url 'restaurants:restaurant_home' %}" class="btn btn-secondary">
                Cancel
            </a>
        </div>
    </form>
</div>
{% endblock restaurant_content %}
