{% extends "restaurants/base.html" %}

{% load static %}
{% load restaurants_tags %}

{% block restaurant_content %}
<div class="text-start">
    <h3>Food Details: {{ food.name }}</h3>
    <div class="row my-2">
        <div class="col-md-5 d-flex flex-column align-items-center">
            <div class="row">
                <img src="{% if food.image.url %}{{ food.image.url }}{% else %}{% static 'restaurants/img/noimage.png' %}{% endif %}" alt="{{ food.name }}" width=200 height=200 />
            </div>
            <span class="my-2">
                <a href="{% url 'restaurants:food_update' food.id %}">
                    <i class="fa-solid fa-pen-to-square text-primary"></i>
                </a>
                &nbsp;
                <a href="{% url 'restaurants:food_delete' food.id %}">
                    <i class="fa-solid fa-trash text-danger"></i>
                </a>
            </span>
        </div>
        <div class="col-md-7">
            {% if food.tags.all %}
                <div class="row mb-2">
                    <div class="col-md-12">
                        {% for tag in food.tags.all %}
                            <span class="badge rounded-pill bg-primary">
                                {{ tag }}
                            </span>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-5"><b>Description</b></div>
                <div class="col-md-7">{{ food.description }}</div>
            </div>
            <div class="row">
                <div class="col-md-5"><b>Price</b></div>
                <div class="col-md-7">
                    Rs.
                    {% if food.discount_percent > 0 %}
                        <span class="text-muted"><del>{{ food.price }}</del></span> {{ food.selling_price }}
                    {% else %}
                        {{ food.price }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"><b>Vegetarian</b></div>
                <div class="col-md-7">{{ food.is_veg }}</div>
            </div>
            <div class="reviews my-5">
                <h4>Reviews <small>({{ food.reviews.all.count }})</small></h4>
                <div class="reviews-list my-2">
                    {% if food.reviews.all %}
                        {% for review in food.reviews.all %}
                            <div class="d-flex align-items-center border border-secondary rounded p-2 mb-2">
                                <img src="{% if review.customer.profile_picture %}{{ review.customer.profile_picture }}{% else %}{% static 'restaurants/img/noimage.png' %}{% endif %}" class="rounded-circle" alt="{{ review.customer.user.full_name }}" width=75 height=75>
                                <div class="p-2">
                                  <div>
                                    <span class="card-title"><b>{{ review.customer.user.full_name }}</b> </span>
                                    <span>
                                      {% for i in review.ratings|times %}
                                          <i class="fa-solid fa-star text-warning"></i>
                                      {% endfor %}
                                    </span>
                                  </div>
                                  <p class="card-text">{{ review.comment }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="text-muted">Sorry, no review to show!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock restaurant_content %}
