{% extends "restaurants/base.html" %}

{% load static %}

{% block restaurant_content %}
<script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

<div class="text-start">
    <h3>Food List</h3>
    <div>
        {% if foods %}
            {% for food in foods %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% if food.image %}{{ food.image }}{% else %}{% static 'restaurants/img/noimage.png' %}{% endif %}" alt="{{ food.name }}" width=100>
                  <div class="card-body">
                    <h5 class="card-title">{{ food.name }}</h5>
                    <p class="card-text">{{ food.description  }}</p>
                    <span>
                        <a href="{% url 'restaurants:food_update' food.id %}">
                            <i class="fa-solid fa-pen-to-square text-primary"></i>
                        </a>
                        <a href="{% url 'restaurants:food_delete' food.id %}">
                            <i class="fa-solid fa-trash text-danger"></i>
                        </a>
                    </span>
                  </div>
                </div>
            {% endfor %}
        {% else %}
            No food added!
            <a href="{% url 'restaurants:food_create' %}">Add Food</a>
        {% endif %}
    </div>
</div>
{% endblock restaurant_content %}
