{% extends "restaurants/base.html" %}

{% load static %}

{% block restaurant_content %}
<script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

<div class="text-start">
    <div class="d-flex justify-content-between align-items-center">
        <h3>Food List</h3>
        <a href="{% url 'restaurants:food_create' %}" class="btn btn-primary">
            <i class="fa-solid fa-add"></i> Add food
        </a>
    </div>
    <div>
        {% if foods %}
            <div class="row">
                {% for food in foods %}
                    <div class="card col-md-3 mx-2" style="width: 18rem;">
                        <a href="{% url 'restaurants:food_detail' food.id %}">
                            <img class="card-img-top" src="{% if food.image %}{{ food.image }}{% else %}{% static 'restaurants/img/noimage.png' %}{% endif %}" alt="{{ food.name }}" width=100 />
                        </a>
                      <div class="card-body">
                        <a href="{% url 'restaurants:food_detail' food.id %}">
                            <h5 class="card-title">{{ food.name }}</h5>
                        </a>
                        <p class="card-text">
                            Rs.
                            {% if food.discount_percent > 0 %}
                                <span class="text-muted"><del>{{ food.price }}</del></span> {{ food.selling_price }}
                            {% else %}
                                {{ food.price }}
                            {% endif %}
                        </p>
                        <p class="card-text">{{ food.description  }}</p>
                        <span>
                            <a href="{% url 'restaurants:food_update' food.id %}">
                                <i class="fa-solid fa-pen-to-square text-primary"></i>
                            </a>
                            &nbsp;
                            <a href="{% url 'restaurants:food_delete' food.id %}">
                                <i class="fa-solid fa-trash text-danger"></i>
                            </a>
                        </span>
                      </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            No food added!
            <a href="{% url 'restaurants:food_create' %}">Add Food</a>
        {% endif %}
    </div>
</div>
{% endblock restaurant_content %}
