{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}
    Register New Delivery Person | Foodie Administration
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Foodie Administration</a></h1>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Home</a>&rsaquo;
        <a href="/admin/restaurants">Restaurants</a>&rsaquo;
        <span>Register Restaurants</span>
    </div>
{% endblock %}

{% block content %}
    <h1>Register Restaurants</h1>
    <br/>
    <form method="post" action="{% url 'admin:restaurants_registerrestaurant_changelist' %}">
        <table style="width: 30%;">
            <tr>
                <th>
                    {{ form.full_name.label }}
                </th>
                <td>
                    {{ form.full_name }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ form.phone_number.label }}
                </th>
                <td>
                    {{ form.phone_number }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ form.email.label }}
                </th>
                <td>
                    {{ form.email }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ form.open_hour.label }}
                </th>
                <td>
                    {{ form.open_hour }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ form.close_hour.label }}
                </th>
                <td>
                    {{ form.close_hour }}
                </td>
            </tr>
        </table>
        <br/>
        <tr>
            {% csrf_token %}
            <input type="submit" value="Register" />
        </tr>
    </form>
{% endblock %}