{% load bootstrap5 %}
{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Foodie - Restaurant Login</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <style>
            body{
                font-family: 'Poppins', sans-serif;
            }
            {% block extrastyle %}{% endblock %}
        </style>
    </head>

    <body class="text-center">
        {% block content %}{% endblock content %}
    </body>

    {% block extrascript %}{% endblock extrascript %}
</html>